/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

html {
	background-color: #f1f1f1;
	width: 80%;
	margin: 2px auto auto auto;
}

header {
	background-color: #f1f1f1;
	padding-top: 5px;
	padding-bottom: 5px;
}

h1 {
	display: inline-block;
}

.btnHeader {
	display: inline-block;
	float: right;
	padding-top: 25px;
	padding-bottom: 5px;
}



h1, h2, h3, h4, h5, h6, p {
	font-family: 'Nunito', sans-serif;
}

p{
 
  margin-left:10px;
  margin-top:10px;
}